!!!
%html
	%head
		%meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
	%body
		%p
			="Hi #{@user},"
		=@text
		%br
	
%p{:style => "line-height: 1em"}
	See you around, The Dish.fm Team
%p{:style => "font-size: 0.8em"}
	As always, if you have ideas or feedback get in touch hello@dish.fm!
