<ul id="social">
	<li>
		<a href="https://twitter.com/dishfm" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @dishfm</a>
	</li>
	<li>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<div class="fb-like-box" data-href="http://www.facebook.com/dish.fm" data-width="292" data-show-faces="false" data-stream="false" data-header="false"></div>
	</li>