#popup
	.static
		%h2
			About us
		%p
			Dish.fm is the easiest way to find the best dishes at any restaurant. 
		%p
			Pulling from friends’ recommendations, user photos and overall dish ratings, Dish.fm makes sure you only order signature dishes worth tasting. With Dish.fm, get the best out of any restaurant.
		%p
			Share back! When you discover a hidden gem at your favorite eatery, simply snap a photo and share your recommendation with fellow foodies and friends on Facebook, Twitter or Pinterest. 
		%p
			RECOMMENDS SIGNATURE DISHES TO ORDER
			In one quick glance, learn what is the best dish, drink or dessert to order.  Read reviews, see photos, and get an overall rating.  Want the best steak in town?  Best tiramisu?  See how the different restaurants stack up.  Dish.fm analyses the rating of dishes, check-ins, and your friends’ recommendations to determine the best place to go.
		%p
			QUICKLY SEE FRIENDS RECOMMENDATIONS
			Keep up with your friends (and their tastebuds) on Facebook, Twitter and Pinterest. Dish.fm’s internal network lets you connect with Chefs, Food Critics and anyone else with good taste. The application features a robust social network allowing you to like and comment on their recommendations.
		%p
			INTERACT AND SHARE YOUR RECOMMENDATIONS
			Share your personal recommendations and photos of food and drink with friends and other food enthusiasts all from the palm of your hand. Dish.fm lets you add photo filters, tag friends, and share your latest conquests on Facebook, Twitter and Pinterest. Get more likes and become a featured foodie!
		%p
			With Dish.fm you can:
			%ul
				%li Check what’s really good at some particular restaurant, or bar. You can check out photos of a dish/drink before you order.
				%li Find the best dish/drink, be it a steak, tiramisu, pizza Quattro Formaggi or cappuccino next to you or anywhere in the world.
				%li Keep up with whatever your friends just tried or cooked. Follow friends from Facebook and Twitter, chefs or anyone else with good taste. Like and comment on their recommendations.
				%li Share your recommendations and photos of your food and drinks with others (incl. on Facebook, Twitter and Pinterest). Get more likes and be featured.
				%li Discover great restaurants and bars. Never miss a delicacy next door! Dish.fm analyses the rating of dishes, check-ins, your tastes and your friends’ recommendations to find a place just for you.
				%li Dish-in regularly and become an expert on places and dishes.
		%p
			You can find more about Dish.fm at www.dish.fm. Be sure to follow us on Twitter and Facebook – we’d love to hear your questions and ideas
