#popup
	.static
		%h2
			Terms of use
		%p
			DISH.FM is a social platform for virtual interaction between users and the product of Farminers Invest Ltd., which is its exclusive owner and operator. “Service(s)” refers to your use of DISH.FM project for any purpose whatsoever. 
		%p
			PLEASE READ CAREFULLY BEFORE USING DISH.FM PROJECT. YOUR USE OF DISH.FM PROJECT OR ANY SERVICES PROVIDED THROUGH DISH.FM PROJECT IS SUBJECT TO THESE TERMS. YOU AGREE TO BE BOUND BY THE TERMS PRESENTED BELOW. IF YOU DO NOT AGREE TO THESE TERMS, DO NOT USE DISH.FM PROJECT IN ANY WAY OR FOR ANY PURPOSE WHATSOEVER. 
		%p
			ACCEPTANCE OF THE TERMS
		%p
			This Terms sets out the legal terms between you (either an individual or legal entity) and Farminers Limited (“Farminers” or “we” or “us”), whose principal place of business is at: Midland Trust Limited, 177 Main Street, Road Town, Tortola, British Virgin Islands, VG1110.
		%p
			These Terms are accepted by you when you actually use the Services of the DISH.FM project. You may print a copy of these Terms for your records and we highly recommend you do so. These Terms remain effective from the date of acceptance until terminated by you or Farminers in accordance with this Terms. 
		%p
			You cannot accept these Terms if: (a) you are not lawfully entitled to use the Services under any applicable laws in the country in which you are located or resident; or (b) if you are not of legal age to form a binding agreement with Farminers. By accepting these terms you acknowledge and agree that you have reached the age to enter into such binding agreement in the country in which you are located or resident or that you have your parent or legal guardian’s permission if required by applicable law. It is your responsibility to ensure that you are legally allowed to enter into this Agreement and that you do not violate any applicable laws. 
		%p
			In some countries there exist legal and/or other restrictions on usage of the Services and/or downloading, installing and/or using of products, portions of products, software which are or might be available through the Services. It is your responsibility to ensure that you comply with all applicable legal restrictions in your jurisdiction. 
		%p
			NOTICE: You do agree to follow the COPPA terms ("Children's Online Privacy Protection Act of 1998"). 
		%p
			INTELLECTUAL PROPERTY RIGHTS (IP rights)
		%p
			Farminers  respects your rights and does not wish (but have such right) to censor any text and other materials (collectively “Content”\”Materials”) you may use or create in connection with the Services. Farminers has established the rules set forth below with respect to Content. Please note that these rules do not create any third party rights or create any private right of action, but may be enforced solely by Farminers in its sole discretion. 
		%p
			Farminers may review, but does not have the obligation to review any Content. The decision by Farminers  does not take action to enforce these rules in a particular instance will not be considered a waiver of any right to do so in the future or in other situations. 
		%p
			By using the DISH.FM project  and/or the Services, you acknowledge and agree that: 
		%p
			All Content that you have transmitted through the DISH.FM project, is your sole responsibility.
		%p	
			Under no circumstances will Farminers  be liable in any way for any Content or for any loss or damage of any kind incurred as a result of the use of any Content, emailed or otherwise made available via the DISH.FM project and/or the Service.
		%p
			If you post any comments or Content to the DISH.FM project, unless we indicate otherwise, you grant Farminers  and its affiliates a nonexclusive, royalty-free, perpetual, irrevocable and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform and display such Content in connection with: providing and promoting the Services; and/or  exercising the rights granted in these Terms.
		%p
			You may not upload, publish, post, distribute or disseminate any Content that defames, abuses, harasses, stalks, threatens or otherwise violates the legal rights (such as rights of privacy and publicity) of others.
		%p	
			You may not upload, publish post, distribute or disseminate any Content that is otherwise deemed as pornographic and/or obscene by DISH.FM project.
		%p	
			You may not upload, publish, post, distribute or disseminate any Content that promotes hatred towards groups based on race or ethnic origin, religion, disability, gender, age and/or sexual orientation/gender identity.
		%p	
			You may not upload, publish, post, distribute or disseminate any Content that impersonates or is intended to impersonate others in a manner that is intended to mislead or does mislead or confuse others.
		%p	
			You may not upload, publish, post, distribute or disseminate any Content that is protected by intellectual property laws (or by rights of privacy and/or publicity) unless you own or control the rights thereto or have received all necessary consents.
		%p	
			You may not upload, publish, post, distribute or disseminate any unauthorized private, confidential and personal information about others.
		%p	
			You may not upload, publish, post, distribute or disseminate any Content that is used for unlawful purposes or for the promotion of dangerous and illegal activities.
		%p	
			Your use of the Services and all Content you posted on, transmitted through or linked from the DISH.FM project and/or the Mobile applications is in compliance with the rules set forth in these Terms and all applicable local, state, national, and international laws, rules and regulations, including any laws regarding the transmission of technical data exported from your country of residence and all export control laws.
		%p	
			LIMITED LICENSE 
		%p	
			We grant to the end User a limited, non-sublicensable, non-exclusive and revocable license to access and make use of the DISH.FM project, the Mobile applications and the Materials solely in accordance with, and subject to, these Terms and any other of our policies as said on the DISH.FM project. 
		%p	
			Except as otherwise expressly permitted by these Terms, you may not:  
		%p	
			collect, use, copy or distribute any portion of the DISH.FM project or the Materials;  resell, publicly perform or publicly display any portion of the Materials;  modify or otherwise make any derivative uses of any portion of the DISH.FM project, the Mobile applications or the Materials;  use any “deep-link,” “page-scrape,” “robot,” “spider” or other automatic device, program, algorithm or methodology which perform similar functions to access, acquire, copy, or monitor any portion of the DISH.FM project;  use DISH.FM project in a manner which results in the depletion of Web site infrastructural resources;  download (other than page caching) any portion of the DISH.FM project, the Materials or any information contained therein or use the DISH.FM project or the Materials other than for their intended purposes. 
		%p
			NOTICES AND CLAIMS
		%p	
			Farminers may give notice of a claim of copyright infringement to our users by means of a general notice on the Services, electronic mail to a user's email address in our records, or by written communication sent by mail. In accordance with the applicable law, Farminers   has adopted a policy of terminating, in appropriate circumstances and at the sole discretion of Farminers, account holders who are deemed to be repeat infringers. Farminers  may also at its sole discretion limit access to the Services of the  DISH.FM project  and/or terminate the accounts of any users who infringe any intellectual property rights of others, whether or not there is any repeat infringement. 
		%p	
			If you believe that anything on the Services  infringes upon any copyright which you own or control, you may send a notification of such infringement to: hello@dish.fm.
		%p
			TERMINATION OF THE TERMS
		%p	
			You may terminate relationship with Farminers at any time by closuring your DISH.FM project account, or otherwise ceasing to use the Services. You acknowledge and agree that by terminating your relationship with Farminers  in the way stipulated in this section you will lose all access to your DISH.FM project account and it no longer be available to you. We will not be responsible and will not have any obligation to restore and/or reinstate your DISH.FM project account or any data lost. 
		%p	
			Without limiting other remedies, DISH.FM project may suspend or terminate this Terms with you, or may terminate or suspend your use of the Services at any time if: 
		%p	
			(a)  you are in default of these Terms; 
		%p	
			(b) you are engaged in illegal actions, or infringe proprietary rights, rights of privacy, or intellectual property rights of any person, or any third party rights, or otherwise create risk or possible legal exposure for us; 
		%p	
			(c) required by applicable laws/regulations and within the time limits as required by such laws/regulations; 
		%p	
			(d) we decide to cease offering the Services generally. 
		%p
			Upon termination of this Terms: (a) all licenses and rights to use the Services shall immediately terminate; (b) you will immediately cease any and all use of the Services. 
		%p	
			Any suspension or termination of this Terms will not affect your obligations to Farminers  under these Terms (including, without limitation, proprietary rights and ownership, indemnification and limitation of liability, confidentiality), which reasonably are intended to survive such suspension or termination. 
		%p	
			We reserve the right to change or modify any provisions of these Terms or guidelines governing your use of the Services, at any time in our sole discretion and without liability to users. Any such changes or modifications will be effective immediately upon posting of revisions on the DISH.FM project. Your continued use of the Services  following the posting of such changes or modifications constitutes your acceptance of the Terms. Therefore, you should frequently review these Terms or guidelines on the DISH.FM project in order to understand the terms and conditions applicable to your use of the Services. If you do not agree to any changes or modifications to these Terms or to any applicable policies or guidelines, your sole recourse is to stop using the Services.
		%p
			EXCLUSION OF WARRANTIES, LIMITATION OF LIABILITY AND INDEMNITY 
		%p	
			No Warranties: TO THE MAXIMUM EXTENT PERMITTED BY LAW: THE SERVICES PROVIDED “AS IS” AND USED AT YOUR SOLE RISK WITH NO WARRANTIES WHATSOEVER; Farminers  DOES NOT MAKE ANY WARRANTIES, CLAIMS OR REPRESENTATIONS AND EXPRESSLY DISCLAIMS ALL SUCH WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED OR STATUTORY, WITH RESPECT TO THE SERVICES INCLUDING, WITHOUT LIMITATION, WARRANTIES OR CONDITIONS OF QUALITY, PERFORMANCE, NON-INFRINGEMENT, MERCHANTABILITY, OR FITNESS FOR USE FOR A PARTICULAR PURPOSE. Farminers  FURTHER DOES NOT REPRESENT OR WARRANT THAT THE SERVICES WILL ALWAYS BE AVAILABLE, ACCESSIBLE, UNINTERRUPTED, TIMELY, SECURE, ACCURATE, COMPLETE AND ERROR-FREE OR WILL OPERATE WITHOUT PACKET LOSS, NOR DOES Farminers  WARRANT ANY CONNECTION TO OR TRANSMISSION FROM THE INTERNET. 
		%p	
			No Liability: YOU ACKNOWLEDGE AND AGREE THAT Farminers  SHALL HAVE NO LIABILITY WHATSOEVER, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER THEORY OF LIABILITY, AND WHETHER OR NOT THE POSSIBILITY OF SUCH DAMAGES OR LOSSES HAS BEEN NOTIFIED TO Farminers , IN CONNECTION WITH OR ARISING FROM YOUR USE OF THE SERVICES PROVIDED TO YOU THROUGH DISH.FM PROJECT. YOUR ONLY RIGHT OR REMEDY WITH RESPECT TO ANY PROBLEMS OR DISSATISFACTION WITH SUCH SERVICES IS TO IMMEDIATELY CEASE USE OF SERVICES. 
		%p	
			FURTHERMORE, YOU ACKNOWLEDGE AND AGREE THAT NEITHER Farminers  NOR ANYONE ELSE WHO HAS BEEN INVOLVED IN THE CREATION, PRODUCTION OR DELIVERY OF THE SERVICES shall be liable to you, whether in contract, tort (including negligence) or any other theory of liability, and whether or not the possibility of such damages or losses has been notified to Farminers , for (a) any indirect, special, incidental or consequential damages; or (b) any loss of income, business, actual or anticipated profits, opportunity, goodwill or reputation (whether direct or indirect); or (c) any damage to or corruption of data (whether direct or indirect) 
		%p	
			If any third party brings a claim against Farminers  in connection with, or arising out of: breach of these Terms;  breach of any applicable law or regulation;  your infringement or violation of the rights of any third parties (including intellectual property rights), you will indemnify and hold Farminers  harmless from and against all damages, liability, loss, costs and expenses (including reasonable legal fees and costs) related to such claim. 
		%p
			CONFIDENTIALITY AND SECURITY 
		%p	
			We are committed to respecting your privacy and the confidentiality of your personal information. We will process your personal information, the traffic data and the content of your communication(s) in accordance with our Privacy policy (
			%a{:href => '/about/privacy'} http://dish.fm/about/privacy/
			). Please read it carefully before starting using the Services. 
		%p
			MISCELLANEOUS 
		%p	
			These Terms constitute relationship between you and Farminers  with respect to your use of the Services. 
		%p	
			If any provision of these Terms (or part of it), is found by any court or administrative body of competent jurisdiction to be illegal, invalid or unenforceable, then such provision (or part of it) shall be removed from the Terms without affecting the legality, validity or enforceability of the remainder of the Terms. 
		%p	
			The failure by Farminers to exercise, or delay in exercising, a legal right or remedy provided by these Terms or by law shall not constitute a waiver of Farminers’s right or remedy. 
		%p	
			We may make changes to these Terms from time to time and we will publish the changes at this link. The changes will be effective when published. Please review the Terms on a regular basis. You acknowledge and agree that your express acceptance of the Terms or your use of the Services after the date of publication shall constitute your agreement to the updated Terms. If you do not agree with the amended Terms, you may terminate this Terms in accordance with the set forth below. 
		%p	
			If we are unable to provide the Services as a result of force majeure, we will not be in breach of any of its obligations towards you under these Terms. 
		%p	
			These Terms shall be governed by and interpreted in accordance with the laws of State of California without regard to its conflict of laws provisions. The exclusive jurisdiction and venue of any action with respect to the subject matter of these Terms will be the U.S. federal courts and state courts located in Santa Clara, California, and each of the parties hereto waives any objection to jurisdiction and venue in such courts. However, we reserve the right to seek injunction relief in any jurisdiction when we deem it necessary. 
		%p	
			This Terms were  drafted in English (US). We may provide you with a translation of the English language version of these Terms. In the event of any inconsistency between a non-English version of these Terms and the English version, the English version shall prevail. 
		%p	
			YOU EXPRESSLY ACKNOWLEDGE AND AGREE THAT YOU HAVE READ THESE TERMS AND UNDERSTAND ALL RIGHTS, OBLIGATIONS, TERMS AND CONDITIONS SET FOR THE DISH.FM PROJECT. BY CONTINUING TO USE THE SERVICES YOU EXPRESSLY CONSENT TO BE BOUND BY THESE TERMS YOU GRANT TO Farminers  THE RIGHTS SET FORTH HEREIN.
		%p	
			Farminers Limited
