#lp
	width: 960px
	margin: 0 auto
	color: #4f2914
	a
		text-decoration: none
		color: #fff
		font-size: 18px
	#controls
		float: right
		display: block
		ul
			li
				list-style: none
				float: left
				display: block
				text-align: center
				background: url('/images/btn_bg.png') top center no-repeat
				width: 72px
				height: 25px
				padding-top: 3px
				
	#logo
		float: left
		margin: 25px 0 10px 0
	#slider
		clear: both
		width: 836px
		height: 295px
		padding: 10px 25px 25px 25px
		float: left
		position: relative
		z-index: 2
		background: url('/images/slide_bg.png') top left no-repeat
		ul
			li
				list-style: none
				float: left
				display: block
				width: auto
				padding: 8px 5px 0 0
		#nw
			margin-left: 67px
		h2
			font-family: "HelveticaNeueBlack", "HelveticaNeue-Black", "Helvetica Neue Black", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Arial Black", sans-serif
			font-weight: bold
			font-size: 20px
			color: #c34316
			text-transform: uppercase
			margin: 0 0 10px 0
		.text
			font-family: Tahoma, Arial, sans-serif
			font-size: 20px
			list-style: none
			li
				width: 560px
				height: 110px
				display: none
			li.active
				display: block
		.hr
			border-top: 1px solid #bbb6b0
			border-bottom: 1px solid #fffffa
			width: 550px
			display: block
			clear: both
			margin-bottom: 5px
	#pages
		float: left
		clear: both
		margin: 10px 0
		
		ul
			list-style: none
			li
				float: left
				display: block
				background: url('/images/dot_b.png') center 4px no-repeat
				width: 16px
				height: 16px
				margin: 0
				cursor: pointer
			li.active
				background: url('/images/dot_a.png') top center no-repeat
				
	#iphone
		position: absolute
		height: 580px
		width: 325px
		left: 750px
		top: 0
		padding: 133px 0 0 43px
		background: url('/images/iphone.png') top left no-repeat
		z-index: 3
	.iscreen
		width: 287px
		height: 430px
		display: none
	.active
		display: block
	#berries
		float: left
		margin: -120px 0 0 -120px
#footer
	font-family: Tahoma, Arial, sans-serif
	text-align: center
	position: relative
	z-index: 4
	clear: both
	height: 130px
	width: 100%
	background: rgb(242,239,230) // Old browsers
	background: -moz-linear-gradient(top,  rgba(242,239,230,1) 75%, rgba(217,210,189,1) 100%) // FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(242,239,230,1)), color-stop(100%,rgba(217,210,189,1))) // Chrome,Safari4+
	background: -webkit-linear-gradient(top,  rgba(242,239,230,1) 75%,rgba(217,210,189,1) 100%) // Chrome10+,Safari5.1+
	background: -o-linear-gradient(top,  rgba(242,239,230,1) 75%,rgba(217,210,189,1) 100%) // Opera 11.10+
	background: -ms-linear-gradient(top,  rgba(242,239,230,1) 75%,rgba(217,210,189,1) 100%) // IE10+
	background: linear-gradient(top,  rgba(242,239,230,1) 75%,rgba(217,210,189,1) 100%) // W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2efe6', endColorstr='#d9d2bd',GradientType=0 ) // IE6-9
	-webkit-box-shadow: inset 0 1px 1px 1px #bfbfbf
	-moz-box-shadow: inset 0 1px 1px 1px #bfbfbf
	box-shadow: inset 0 1px 1px 1px #bfbfbf
	h2
		font-family: Tahoma, Arial, sans-serif
		font-size: 20px
	#top_search
		width: 575px
		height: 50px
		margin: 0 auto
		padding-top: 20px
		// border-top: 1px solid #b8ac9a
		border-bottom: 1px solid #b8ac9a
		ul
			margin-left: 30px
			li
				width: auto
				float: left
				display: block
				background: #fff
				border-radius: 7px
				margin: 0 5px
				color: #a99c83
				padding: 3px 7px
				-webkit-box-shadow: 0 2px 0 0 #ccc
				-moz-box-shadow: 0 2px 0 0 #ccc
				box-shadow: 0 2px 0 0 #ccc
				a
					font-size: 16px
					font-weight: bold
					text-decoration: none
					color: #2b8da2
	#links
		width: 415px
		margin: 0 auto
		ul
			li
				width: auto
				float: left
				display: block
				margin: 25px 5px
			a
				font-size: 14px
				color: #554747
.store
	margin: 0 20px 0 0
#social	
	margin: -15px 0 0 70px
	padding: 0
	li
		width: auto
		padding: 0
	li.tw
		margin-top: 25px
	li.gplus
		margin-top: 28px
#cright
	font-size: 13px
	text-align:center
	width: 100px
	margin: 0 auto
	display: block
	color: #554747

			