#pinme
	position: absolute
	top: 0
	right: 0
	width: 100%
	height: 100%
	background: #fff
	z-index: 999
	text-align: center

	img#full_photo
		width: 300px
	a
		display: block
		margin: 0 auto
	.text
		font-family: bell
		background: #F2EFE9
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75)
		color: #2B8DA2
		padding: 5px
		border-radius: 5px 5px 0 0
		width: 290px
		margin: 0 auto
			