#pinme
	position: absolute
	top: 5px
	left: 5px
	width: 310px
	z-index: 999
	background: #fff
	text-align: center
	border-radius: 0 0 3px 3px
		
	#loading
		position: absolute
		display: none
		bottom: 76px
		left: 140px
		
	#pin_it
		margin-top: -250px

	img#full_photo
		width: 300px
		margin: 5px
	a
		display: block
		margin: 0 auto
	.text
		font-family: bell
		background: rgba(246, 241, 231, 1)
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75)
		color: #2B8DA2
		padding: 5px
		border-radius: 3px 3px 0 0
		width: 300px
		margin: 0 auto
			