.star
	margin: 0px 2px 0px 0
	float: left
	display: block	
.rate
	width: 130px
.sp
	border-top: 1px solid #bbb6b0
	border-bottom: 1px solid #fffffa
	width: 100%
	margin-bottom: 10px
	display: block
	clear: both
#simple_popup
	background: #f2efea
	text-align: center
	padding: 60px 20px
	position: fixed
	border-radius: 5px
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.50)
	font-family: bell
	font-size: 1.5em
	left: 50%
	z-index: 9
	top: 50%
	width: 960px
	margin-top: -105px
	margin-left: -300px
	cursor: pointer
	
	#fb_message
		margin: 0 auto
	
	.message
		float: left
		margin: 15px 0
		color: #237b8b
		text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.50)
	a
		float: left
		margin: 0 10px
	
#popup
	width: 1000px
	left: 50%
	margin-left: -500px
	position: absolute
	z-index: 6
	background: #f5f2eb
	border: 1px solid #e1dcd3
	border-radius: 5px
	line-height: 1.1em
	
.hd2
	color: #2b8da2
	font-size: 2em
	line-height: 0.9em
	margin: 15px 0 10px 0
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75)	
	
.side_div
	width: 300px
	font-family: bell
	font-size: 0.9em
	color: #453624
	float: left
	padding: 0 15px
	.desc
		font-size: 1em
		line-height: 1em
		float: left
		margin-bottom: 10px
	.price
		font-weight: bold
		font-size: 0.6em
		font-family: arial
	.rating
		font-family: bell_bold
		font-size: 1em		
	.rate
		font-family: Arial
		line-height: 1.7em
		.mark
			font-size: 1em
			float: left
			font-weight: bold
			color: #d85f16
			margin-right: 5px
			clear: both
		.voices
			font-size: 0.8em
			float: left
			color: #3f3627
			margin-bottom: 5px
	.hd3
		font-size: 1.5em
		a
			color: #2B8DA2
	#map_canvas_popup
		width: 300px
		height: 300px
		margin: 10px 0
		float: left
		border: 1px solid #999
	.addr_phone
		line-height: 1.2em
		
.center_div
	width: 640px
	float: left
	font-family: bell
	background: #f7f5f0
	color: #453624
	border-radius: 5px
	min-height: 520px
	padding: 15px
	#review_content
		clear: both
.static
	width: 680px
	margin: 10px auto
	font-family: bell
	background: #f7f5f0
	color: #453624
	border-radius: 5px
	min-height: 550px
	padding: 15px
	.bold
		font-family: bell_bold
.sb
	float: left
	text-align: right
	margin-left: -45px
	margin-top: -8px
	li
		float: none
		width: 70px
		
@import "restaurant"		
@import "network_menu"
@import "network_dishes"
@import "popup_review"