#edit_user
	font-family: Tahoma, Verdana, Arial, sans-serif
	color: #4F2914
	font-size: 14px
	#user_password, #user_password_confirmation
		border-radius: 5px
		height: 25px
	#user_submit
		background-color: #fff
		border-radius: 5px
		height: 30px

#avatar
	width: 180px
	height: 180px 
	border: 5px solid #F7F5F0
	border-radius: 50%
	margin: 0 auto
	background-repeat: no-repeat
	background-attachment:fixed
	background-position:center
	background-size: cover
	margin: 10px 20px 20px 20px

.f_and_f
	text-align: left
	font-weight: bold
	font-size: 1.1em
	padding: 10px 0 5px 0
	display: block
	clear: both
	.title
		display: block
		clear: both
	.photo
		float: left
		width: 30px
		height: 30px
		background-size: cover
		background: center, center
		margin: 0 5px 5px 0
	
